<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mx-2 mx-sm-auto px-0 my-5 text-center">

      <h4 style="margin: 30px 0 20px 0">※入力確認にエラーが発生しました。</h4>
      <%= link_to new_contact_path, class: "btn btn-warning" do %>
        入力確認に戻る
      <% end %>

    </div>
  </div>
</div>

