<div class="container">
  <div class="row justify-content-center py-5">
    <h3><b>お問い合わせありがとうございました！</b></h3><br><br>
    <p>内容を確認しまして、順次ご返信させていただきます。</p>
  </div>
  <div class="text-center">
    <%= link_to "マイページへ", user_path(current_user.id) %>
  </dvi>
</div>
