<div class="container px-1">
  <div class="row">
    <table class="table table-hover table-inverse" style="margin-top: 15px">
      <% groups.each do |group| %>
      <tr style="cursor: pointer" onclick="window.location.href='<%= group_path(group) %>'" onmouseover="this.style.backgroundColor='#dcdcdc'" onmouseout="this.style.backgroundColor='#fff'">
        <td width="25%">
          <%= image_tag group.get_image, class: "posting-img" %>
        </td>
        <td><%= group.name %></td>
        <td width="20%"><strong><%= group.users.count %></strong>人が参加中</td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
