<div class="container px-4">
  <div class="row">
    <div class="col-9 col-md-11 col-sm-11 mx-auto px-0 my-3">

      <div class="mx-2 mb-3">
        <h3 class="mini-title">
          ”<%= @group.name %>”(<%= @users.count %>)のメンバー
        </h3>
      </div>
      <%= link_to room_path(@group) do %>
        <i class="fa-solid fa-angle-left"></i> ルームに戻る
      <% end %>

      <% if @users.count >= 1 %>
        <%= render "public/users/index", users: @users %>
      <% else %>
        <h4 class="text-center" style="margin-top: 30px">ユーザーがいません</h4>
      <% end %>

    </div>
  </div>
</div>
