<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-10 col-md-10 col-sm-10 mx-2 mx-sm-auto px-0 my-5">
      <!-- scopeでname属性を指定 -->
      <%= form_with model: @message, scope: :message, url: group_messages_path(@group, @message), method: :post, local: true do |f| %>
        <div class="form-group comment-form">
          <%= f.text_area :message, placeholder: "コメントを入力", rows: "3", class: "form-control" %><br>
        </div>
        <div class="actions">
          <%= f.submit "送信" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
