<div class="container px-2">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 mx-auto px-0 my-4">
    <div class="mx-5 mb-3"><h3 class="mini-title">フォロー</h3></div>
      <% if @users.exists? %>
        <%= render "public/users/index", users: @users %>
      <% else %>
        <h4 class="text-center" style="margin-top: 30px">ユーザーがいません</h4>
      <% end %>
    </div>
  </div>
</div>
