  <button id="switch_btn">切り替えボタン</button>
    <div id="search_field" style="display: none;">
      検索フォーム
      <form>
        <input type="text">
        <input type="submit">
      </form>
    </div>
