 <div class="container px-2">
  <div class="row">
    <div class="col-10 col-md-11 col-sm-12 mx-auto px-0 my-5">

      <div class="mx-3" style="text-align: center">

        <h3 style="margin-bottom: 30px" class="mb-6 top-title">ABOUT</h3>
        <h6 style="margin: 50px 3px 3px 3px">
          Liniectは誰もが発信・コミュニティ作成を楽しむことができるサイトです。<br>
          　自分に合ったコミュニティを見つけ、好きなものが繋がる仲間との<br>
          　自由でゆるいコミュニケーションを楽しんでください。
        </h6>

        <div class="instructon col-11 col-md-11 col-sm-12 mx-auto px-0 my-5" style="margin: 40px; text-align: left">

          <div class="menu">
            <h3 style="margin: 20px 0 5px 35px">
              1．プロフィールについて <i class="fa-solid fa-arrow-pointer"></i>
            </h3>
            <ul class="hidden">
              <li>ヘッダーのアイコンをクリックするとマイページに移動できます。</li>
              <li>マイページの編集をクリックするとプロフィールの編集ができます。</li>
              <li>ニックネームは30文字以内で登録することができます。</li>
              <li>プロフィールの自己紹介は350文字以内で書き込むことができます。</li>
              <li>
                マイページでは下記3点の確認もすることができます。<br>
                　過去の投稿一覧、いいねした記事一覧、参加コミュニティ一覧
              </li>
            </ul>
          </div>

          <div class="menu">
            <h3 style="margin: 20px 0 5px 35px">
              2．記事の投稿について <i class="fa-solid fa-arrow-pointer"></i>
            </h3>
            <ul class="hidden">
              <li>記事のタイトルは50字以内で書くことができます。</li>
              <li>記事の内容は10〜2000字以内で記事を書くことができます。</li>
              <li>記事は書いている途中で下書き保存ができます。</li>
              <li>下書きした記事は下書き一覧に保存され、新規投稿から確認することができます。</li>
              <li>記事20文字以内のタグを記事に付けることができます。</li>
              <li>タグの間に”、”を付けることで複数のタグを付けることができます。</li>
              <li>好きな時に好きな内容で発信を楽しんでください。</li>
            </ul>
          </div>

          <div class="menu">
            <h3 style="margin: 20px 0 5px 35px">
              3．コミュニティ機能について <i class="fa-solid fa-arrow-pointer"></i>
            </h3>
            <ul class="hidden">
              <li>コミュニティは誰でも作成することができます。</li>
              <li>参加すると、参加者のみのチャットを楽しむことができます。</li>
              <li>好きなものが繋がる仲間を見つけてください。</li>
              <li>コミュニティを削除したい場合はお問い合わせから連絡ください。</li>
            </ul>
          </div>

          <div class="menu">
            <h3 style="margin: 20px 0 5px 35px">
              4．その他機能について <i class="fa-solid fa-arrow-pointer"></i>
            </h3>
            <ul class="hidden">
              <li>フォロー、記事へのいいね・コメントは通知一覧に届きます。</li>
              <li>通知は、24時で自動リセットされ、通知一覧画面に表示されなくなります。</li>
              <li>検索ワードとタブを入力した上で検索をクリックしてください。 </li>
              <li>
                ユーザーはニックネーム、投稿はタイトル、コミュニティは名前<br>
                を入力して検索してください。<br>
                検索ワードに合ったユーザー・投稿・コミュニティが表示されます。
              </li>
            </ul>
          </div>

      </div>

    </div>
  </div>
</div>

