 <div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-11 col-md-11 col-sm-11 mx-2 mx-sm-auto px-0 my-5">
      <div class="mx-3" style="text-align: center">
        <h3 class="mb-6 top-title">ABOUT</h3>
        <h6 style="margin: 3px">
          Liniectは誰もが発信・コミュニティ作成を楽しむことができるサイトです。<br>
          　自分に合ったコミュニティを見つけ、好きなものが繋がる仲間との<br>
          　自由でゆるいコミュニケーションを楽しんでください。
        </h6>
        <div class="instructon" style="margin: 25px; text-align: left">
          <div>
            <button id="switch_btn" style="margin-top: 10px">
              記事の投稿について <i class="fa-solid fa-arrow-pointer"></i>
            </button>
            <ul id="search_field" style="display: none;">
              <li>記事の内容は1500字以内で記事を書くことができます。</li>
              <li>記事は書いている途中で下書き保存ができます。</li>
              <li>好きな時に好きな内容で発信を楽しんでください。</li>
            </ul>
          </div>
          <div>
            <button id="switch_btn" style="margin-top: 10px">
              コミュニティ機能について <i class="fa-solid fa-arrow-pointer"></i>
            </button>
            <ul id="search_field" style="display: none;">
              <li>コミュニティは誰でも作成することができます。</li>
              <li>コミュニティに参加すると、参加者のみでチャットを楽しむことができます。</li>
              <li>作成したコミュニティを削除したい場合はお問い合わせから運営に連絡ください。</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>




