<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-10 col-md-10 col-sm-10 mx-2 mx-sm-auto px-0 my-5">
      <% tag_lists.each do |list| %>
        <!-- タグが0の場合は非表示 -->
        <% if list.articles.count != 0 %>
          <%= link_to tag_search_path(tag_id: list.id) do %>
            <button type="button" class="btn btn-outline-dark" style="margin-top: 10px">
              <i class="fa-solid fa-tag mark"></i>
              <%= list.name %>
              <%="(#{list.articles.count})" %>
            </button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
