<ul class="nav nav-tabs" id="tabs">
  <li class="tab tab-active">記事一覧</li>
  <li class="tab">グループ一覧</li>
  <li class="tab">タグ一覧</li>
</ul>
<!--タブで選択された要素部分-->
<div class="tabbox-contents">
  <div class="tabbox box-show">
    <%= render "public/articles/index", articles: @articles %>
  </div>
  <div class="tabbox">
    グループ一覧
  </div>
  <div class="tabbox">
    <%= render "public/articles/tag_index" %>
  </div>
</div>
