<div class="container px-3">
  <div class="row">
    <div class="mx-3"><h3 class="mt-3 mb-3 mini-title">”<%= @tag.name %>” の投稿</h3></div>
      <div class="col-12 col-md-12 col-sm-12 mx-auto px-0 my-5 list">
        <%= render "public/articles/index", articles: @articles %>
    </div>
  </div>
</div>
