
input.btn-login, a.btn-login {
  border: 2px solid #f5f5f5 !important;
  background: #ee7b1a !important;
  margin-top: 15px;
  padding-top: 8px;
  font-weight: bolder;
  color: #fff;
}

input.btn-login:hover, a.btn-login:hover {
  border: 2px solid #f5f5f5 !important;
  background: #ff9500 !important;
  color: #fff;
  font-weight: bold;
}


input.guest-login, a.guest-login {
  border: 2px solid #f5f5f5 !important;
  background: #009bbf !important;
  margin-top: 15px;
  padding-top: 8px;
  font-weight: bolder;
  color: #fff;
}

input.guest-login:hover, a.guest-login:hover {
  border: 2px solid #f5f5f5 !important;
  background: #00a7db !important;
  color: #fff;
  font-weight: bold;
}

input.btn-follow, a.btn-follow {
  border: 2px solid #f5f5f5 !important;
  background: #ee7b1a !important;
  margin-top: 1px;
  padding-top: 6px;
  font-weight: bolder;
  color: #fff;
  height: 35px;
}

input.btn-follow:hover, a.btn-follow:hover {
  border: 2px solid #f5f5f5 !important;
  background: #ff9500 !important;
  color: #fff;
  font-weight: bold;
}

.actions {
  text-align: right !important;
}

.withdraw {
  margin-top: 10px
}
