<!-- 自分の投稿へのいいね、コメントは表示しない -->
<% notifications = @notifications.where.not(visiter_id: current_user.id) %>
  <% if @notifications.exists? %>
    <% @notifications.each do |notification| %>
      <%= render "public/notifications/notification", notification: notification %>
    <% end %>
  <% else %>
    <h4 class="text-center" style="margin-top: 30px">通知はありません</h4>
<% end %>
