<div class="col-8 col-md-9 col-sm-10 mx-auto px-0 my-2">
  <%= link_to article_path(@article), class: "mb-0" do %>
    <i class="fa-solid fa-angle-left"></i> 投稿詳細に戻る
  <% end %>
</div>
  <%= render "public/users/index", users: @users %>

