<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-10 col-md-10 col-sm-10 mx-2 mx-sm-auto px-0 my-5">
      <div class="text-center">
        <h4><strong>本当に退会しますか？</stroug></h4>
        <p>
          退会すると、登録情報や<br>
          これまでの投稿がすべて削除されます。<br>
          退会する場合は、「退会する」をクリックしてください。
        </p>
      </div>
      <div class="d-flex justify-content-center mb-5">
        <%= link_to '退会しない', edit_user_path, class: "btn btn-primary" %>
        <%= link_to '退会する', users_withdraw_path, method: :patch, class: "btn btn-danger", data: {confirm: "本当に退会しますか？"} %>
      </div>
    </div>
  </div>
</div>