<div class="container">
  <div class="row d-flex justify-content-center">
    <ul>
      <li class="list-inline-item">
        <%= link_to do %>
          <i class="fab fa-instagram-square fa-2x social-btn"></i>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to do %>
          <i class="fab fa-facebook-square fa-2x social-btn"></i>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to do %>
          <i class="fab fa-twitter-square fa-2x social-btn"></i>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="row d-flex justify-content-center">
    <p>© 2022 Leniect</p>
  </div>
</div>